<h1>New Figure</h1>
<form method="POST" action="/figures">
  <p>Name:<input type="text" id="figure_name" name="figure[name]"></p>
  <h3>Titles</h3>
  <%Title.all.each do |title|%>
      <label><%=title.name%></label>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>">
  <%end%>
  <p>New Title:<input type="text" id="new_title" name="title[name]"></p>
  <h3>Landmarks</h3>
  <%Landmark.all.each do |landmark|%>
      <label><%=landmark.name%></label>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>">
  <%end%>
  <h3>New Landmark</h3>
  <p>Landmark Name:<input type="text" id="new_landmark" name="landmark[name]"></p>
  <p>Landmark Year Completed:<input type="text" name="landmark[year_completed]"></p>
  <input type="submit" value="Create New Figure">
</form>